<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title"></h2>
      <p class="footer__about-text">Colocar Lorem Ipsem</p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li><i class="fa-solid fa-envelope"></i>email@email.com</li>
        <li><i class="fa-solid fa-phone"></i>3333333333</li>
        <li><i class="fa-brands fa-whatsapp"></i>3333333333</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
